/* CSS by Araceli Valles */
/* ---- Skip Link Styles ---- */
#skip{
    position: absolute;
    left: -100000px;    
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

/* Logo */
.logo{
    width: 250px;
    height: auto;
}

/* Nav Styles */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.navigation-bar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navigation-bar a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}


/* Hero Banner Styles */
#hero-banner{
    background-image: url(images/PicositosAZ.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    min-height: 300px;
    border-radius: 0.5rem; 
}

/*h1{
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 50px;
} */


/* Products */
.candies{
    width: 350px;
}
