/* CSS by Araceli Valles */
/* ---- Skip Link Styles ---- */
#skip{
    position: absolute;
    left: -100000px;    
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header, footer {
    background-color: #fd5588;
}

/* Logo */
.logo{
    width: 250px;
    height: auto;
}

/* Nav Styles */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.navigation-bar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navigation-bar a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

/* Hero Banner Styles */
#hero-banner{
    background-image: url(images/PicositosAZ.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


#hero-banner .hero-text {
    visibility: hidden;
}

/*h1{
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 50px;
} */

h2,h3 {
    font-family: 'Shrikhand', cursive, sans-serif;
    font-size: 50px;
}


body, nav, p{
    font-family: 'Raleway', sans-serif;

}

/* Products */
#featured-products{
    padding: 2rem;
    text-align: center;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#featured-products h2{
    padding: 15px;
    color: #ff004c;
}

.product p{
   padding-top: 15px;
}

.product-grid img.candies {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto 0.5rem;
    display: block;
}

.product-grid h3 {
    font-size: 30px;
    text-align: center;
    color: #ff004c;
}

.product-grid p {
    text-align: center;
    margin-bottom: 2rem;
}

.product-grid label, .product-grid select, .product-grid input, .product-grid button {
    display: block;
    width: 100%;
    margin: 0.4rem 0;
}

.product-grid button {
    background-color: #69a286;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.product-grid button:hover {
    background-color: #ef2c2c;
}

.product-grid footer {
    margin-top: auto;
}

.view-all{
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #ff004c;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
}

/* Testimonals */

#testimonials h2{
    text-align: center;
    color: #ff004c;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 0 20px;
}

.testimonial {
    background-color: #69a286;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgb(0, 0, 0);
    font-style: italic;
}

.testimonial span {
    display: block;
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
    color: #fff;
}

/* Footer Styles */
footer {
    margin-top: 50px;
    padding: 2rem 1rem;
    color: #fff;
} 

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    text-align: right;
    margin-top: 100px;
}
 
footer a {
    text-decoration: none;
    color: #fff;
}

footer ul {
    list-style-type: none;
    text-align: right;
}

footer ul li {
    text-align: center;
    margin-top: 50px;
}

 #size-gushers, #size-skittles, #size-airheadExtreme, #quantity-gushers, #quantity-skittles, #quantity-airheadExtreme{
    color: #ff004c;
    padding: 10px;
    font-size: 16px;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    font-size: 16px;
}